
.todo-container {
  margin: 0 auto;
  background-color: #282c34;
  height: 100vh;
}
.todo-item {
  width: 50%;
  height: 60px;
  text-align: center;
  margin: 3px;
}
p {
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}
.input-wrap {
  background-color: palegreen;
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

}
input {
  height:40px;
  width: 400px;
  color: black;
  background-color: white;
  border-radius: 4px;
}
button {
height: 40px;
width: 50px;
background-color: rgb(1, 37, 1);
margin-left: 10px;
border-radius: 4px;
color: white;
}